@model Orkidea.Porthos.Entities.People

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">

    <!-- Loading Stylesheets -->
    @*<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">*@
    <link href="@Url.Content("~/css/font-awesome.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css">

    @*<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">*@


    <!-- Loading Custom Stylesheets -->
    <link href="@Url.Content("~/css/custom.css")" rel="stylesheet">

    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.ico")">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/js/html5shiv.js")"></script>
      <![endif]-->
</head>
<body>
    <div class="site-holder">
        <!-- this is a dummy text -->
        <!-- .navbar -->
        <nav class="navbar" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><i class="fa fa-list btn-nav-toggle-responsive text-white"></i>
                    <span class="logo">
                        <img src="@Url.Content("~/Images/Porthos_GH_logo_blanco.png")" /></span>
                </a>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- /.navbar -->
        <div class="left-sidebar">
            <div class="sidebar-holder">
            </div>
        </div>
        <!-- .box-holder -->
        <div class="box-holder">

            <!-- .content -->
            <div class="content">

                <div class="row">
                    <div class="col-md-12">
                        <!-- .Title  -->
                        <h3 class="page-header"><i class="fa fa-gears"></i>Inicio de sesi&#243;n <i class="fa fa-info-circle animated bounceInDown show-info"></i></h3>

                        <blockquote class="page-information hidden">
                            <p>
                                <b>Bienvenid&#64;</b> para comenzar, debes ingresar tus credenciales para autenticarte en el sistema.                 
                            </p>
                        </blockquote>
                        <!-- /.Title  -->

                        <!-- .Login form  -->
                        <div class="panel-body">
                            <form method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label for="Usuario" class="col-sm-2 control-label">Usuario</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.usuario, new { placeholder = "Usuario", @class="form-control form-cascade-control" })
                                        @*<input type="text" class="form-control form-cascade-control" id="txtUser" placeholder="Usuario">*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtPassword" class="col-sm-2 control-label">Contraseña</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.contraseña, new { placeholder = "Contraseña", type = "password", @class="form-control form-cascade-control" })
                                        @*<input type="password" class="form-control form-cascade-control" id="txtPassword" placeholder="Contraseña">*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Recuerdame								
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-3">
                                        <button type="submit" class="btn btn-default">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.Login form  -->
                    </div>
                </div>


            </div>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.site-holder -->



    <!-- Load JS here for Faster site load =============================-->
    <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="@Url.Content("~/js/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui-1.10.3.custom.min.js")"></script>
    <script src="@Url.Content("~/js/less-1.5.0.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-select.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-switch.js")"></script>
    <script src="@Url.Content("~/js/jquery.tagsinput.js")"></script>
    <script src="@Url.Content("~/js/jquery.placeholder.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-typeahead.js")"></script>
    <script src="@Url.Content("~/js/application.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.sortable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.gritter.js")"></script>
    <script src="@Url.Content("~/js/jquery.nicescroll.min.js")"></script>
    <script src="@Url.Content("~/js/skylo.js")"></script>
    <script src="@Url.Content("~/js/prettify.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.noty.js")"></script>
    <script src="@Url.Content("~/js/bic_calendar.js")"></script>
    <script src="@Url.Content("~/js/jquery.accordion.js")"></script>
    @*    <script src="@Url.Content("~/js/theme-options.js")"></script>*@

    <script src="@Url.Content("~/js/bootstrap-progressbar.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-progressbar-custom.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-colorpicker.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-colorpicker-custom.js")"></script>

    <script src="@Url.Content("~/js/bootstrap-datatables.js")"></script>
    <script src="@Url.Content("~/js/dataTables-custom.js")"></script>

    <!-- Core Jquery File  =============================-->
    <script src="@Url.Content("~/js/core.js")"></script>
</body>
</html>
